.main-wrapper {
    background: rgba(27, 28, 32, 1);
    min-height: 100vh;
    padding-bottom: 0px;
}

.padding {
    padding: 30px;
}

.withdraw-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.withdraw-balance {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 249, 117, 1);
    padding: 8px;
    border-radius: 16px;
    color: #fff;
}

.form-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
}

.form-wrapper label {
    margin-bottom: 8px;
    margin-top: 8px;
}

.form-wrapper input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    outline: none;
}

.form-wrapper button {
    margin-top: 16px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    color: #fff;
    background: rgba(139, 173, 28, 1);
}

.history-wrapper {
    background: #fff;
    min-height: 100%;
    border-radius: 32px 32px 0px 0px;
    padding: 24px 16px 60px 16px
}

.history-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 24px;
}

.loader-wrapper {
    text-align: center;
}

.go-back {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.go-back-wrapp {
    display: flex;
}

.go-back-wrapp div {
    margin-top: -2px;
}

.method-wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.method-wrapper div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method-wrapper div:nth-child(1) {
    border: 1px solid #fff;
    border-radius: 8px 0px 0px 8px;
}

.method-wrapper div:nth-child(2) {
    border: 1px solid #fff;
    border-radius: 0px 8px 8px 0px;
}