.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    animation: fadeOut 2s forwards;
}

.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    animation: fadeIn 1s forwards;
}

.after {
  width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    animation: fadeOutHalf 2s forwards;
    display: flex;
    justify-content: center;
}
.confirm-btn button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background: #8BAD1C;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
}
.result-text {
  color: #fff;
  margin-top: 200px;
}
.result-text h1 {
  text-align: center;
}
.additional-text {
  text-align: center;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}


@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes fadeOutHalf {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}


.progress-container {
  width: 90%;
  height: 20px; /* или любой другой размер */
  background-color: #e0e0e0; /* светлый фон */
  border-radius: 10px; /* скругление углов */
  overflow: hidden;
  margin-left: 5%;
  margin-top: 30%;
}

/* Сам индикатор прогресс бара, анимация заполняет за 2с */
.progress-bar {
  width: 0;
  height: 100%;
  background-color: rgb(164, 202, 39); /* цвет прогресса */
  animation: fillProgress 2s forwards;
  border-radius: 10px 0 0 10px; /* скругление в левом краю */
}

/* Анимация: увеличиваем ширину с 0 до 100% */
@keyframes fillProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}