.main-wrapper {
    background: radial-gradient(circle, #364164 40%, #35364f 70%, #1B1C20 100%);
    min-height: 100vh;
    padding: 16px;
    padding-bottom: 100px;
    color: #fff;
}
.blocks-main-wrapper {
  margin-top: 90px;
}
.title {
  font-size: 17px;
}

.blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-block {
  background-color: #212631;
  height: 75px;
  width: 32%;
  text-align: center;
  padding-top: 5px;
  margin-top: 6px;
}
.single-block span {
  color: #bdb7b7;
  margin-top: 5px;
}
.single-block div {
  font-size: 27px;
  color:#fff;
  margin-top: 4px;
}
.time-wrapper {
  display: flex;
  justify-content: center;
}
.time-wrapper img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 4px;
}

.confirm-btn button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background: #8BAD1C;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-btn {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.confirm-btn span {
    margin-left: 6px;
}