.main-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.left-wrapper {
    display: flex;
}

.left-data {
    margin-left: 8px;
}

.left-data div:nth-child(1) {
    font-size: 14px;
}

.left-data div:nth-child(2) {
    font-size: 10px;
}

.right-data {
    text-align: end;
    font-size: 14px;
}

.right-data div:nth-child(2) {
    font-size: 10px;
}
