@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Proxima Nova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
