
.modal-wrapper :global .ant-modal-content {
    background: #252525;
    border-radius: 32px;
}

.modal-wrapper :global .ant-modal-content svg {
    fill: #fff;
}

.search-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.search-info-wrapper div {
    background: #A4C4C133;
    color: #fff;
    height: 42px;
    width: 250px;
    font-size: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper {
    text-align: center;
}

.search-data {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: -10px;
}

.search-data div:nth-child(2) {
    font-weight: 700;
}

.game-nominal-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.game-nominal {
    border-radius: 12px;
    border: 1px dashed #FFF500;
    width: 191px;
    height: 60px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

.game-nominal img {
    width: 16px;
    height: 22px;
    margin-right: 4px;
}

.hamsters-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-content: start;
}

.hamsters-wrapper img:nth-child(1) {
    height: 100px;
    margin-right: 10px;
}

.hamsters-wrapper img:nth-child(2) {
    height: 89px;
    margin-top: 2px;
    margin-left: 10px;
}

.cancel-game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cancel-game-wrapper button {
    width: 250px;
    height: 60px;
    outline: none;
    border-radius: 16px;
    background: #812727;
    border: none;
    color: #F5F5F5;
    font-size: 16px;
}