.hamster-wrapper {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 20px;
}

.progress-bar {
    width: 14px;
    height: 150px;
    background: linear-gradient(0deg, rgba(41, 180, 12, 1) 0%, rgba(246, 251, 0, 1) 33%, rgba(255, 179, 0, 1) 78%, rgba(255, 4, 4, 1) 100%);
    display: flex;
    align-items: end;
    border-radius: 20px;
}

.first-hamster-wrapper {
    margin-left: 16px;
}

.first-hamster-name {
    background: #C33A53;
    border-radius: 16px 16px 4px 16px;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-hamster img {
    height: 200px;
}

.second-hamster img {
    height: 200px;
}

.hamster-with-name {
    margin-left: 30px;
}

.second-hamster-name {
    background: #8BAD1C;
    border-radius: 16px 16px 16px 4px;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-hamster-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 16px;
}

.hamster-with-name-left {
    margin-right: 30px;
}

.animate-right {
    animation-duration: 0.1s;
    animation-name: rightFace;
    position: absolute;
    width: 60px;
    /*animation-iteration-count: infinite;*/
}

@keyframes rightFace {
    from {
        margin-left: -20px;
        margin-top: 70px;
        opacity: 1;
    }

    to {
        margin-left: 0px;
        margin-top: 50px;
        opacity: 0;
    }
}


.animate-left {
    animation-duration: 0.1s;
    animation-name: slideinleft;
    position: absolute;
    width: 60px;
    animation-iteration-count: infinite;
}

@keyframes slideinleft {
    from {
        margin-left: 90px;
        margin-top: 70px;
        opacity: 1;
    }

    to {
        margin-left: 80px;
        margin-top: 50px;
        opacity: 0;
    }
}

.plank {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.plank div:nth-child(1) {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}

.plank div:nth-child(2) {
    margin-left: 7px;
}

.plank-right {
    display: flex;
    align-items: center;
    margin-left: -27px;
    font-size: 12px;
}

.plank-right div:nth-child(1) {
    margin-right: 7px;
}

.plank-right div:nth-child(2) {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}